@model TrocaManuais.Web.Models.manuais

@{
    ViewBag.Title = "Detalhes";
    <!--Layout = "~/Views/Shared/_Layout.cshtml";-->
}

<h2>@Html.DisplayFor(model => model.titulo)</h2>

<div style="color:#80BFFF">
    <!--<hr />-->
    <dl class="dl-horizontal">
        <div class="row">
            <dl class="span4">
                <!--<dt>
                    @Html.DisplayNameFor(model => model.foto)
                </dt>-->
                <dd>
                    <!--<a href="@Url.Content(Model.foto)">-->
                        <img src="@Url.Content(Model.foto)" alt="Image" height="300" width="200" />
                    <!--</a>-->
                </dd>

            </dl>
            <dl class="span4">
                <dt>
                    ISBN
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ISBN)
                </dd>
                <dt>
                    Autores
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Autores)
                </dd>
                <p> </p>
                <dt>
                    Ano
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AnosEscolares.Ano)
                </dd>
                <p> </p>
                <dt>
                    Disciplina
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Disciplinas.disciplina)
                </dd>
                <p> </p>
                <dt>
                    Editora
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Editoras.Editora)
                </dd>
                <p> </p>
                <dt>
                    <p> </p>
                </dt>
                <dd>
                    <button type="reset" class="medium orange"><i class="icon-undo"></i> Procurar Manual</button>
                </dd>
            </dl>
        </div>
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "CatalogoPorAno", new { EscalaoEscola = "1º Ciclo" })
</p>
