@model TrocaManuais.Web.Models.AnosEscolares

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AnosEscolares</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Escaloes.Escalao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Escaloes.Escalao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAEscola }) |
    @Html.ActionLink("Back to List", "Index")
</p>
