@model TrocaManuais.Web.Models.Mensagens

@{
    ViewBag.Title = "Details";

}

<h2>Details</h2>

<div>
    <h4>Mensagens</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NickEnviado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NickEnviado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdMR }) |
    @Html.ActionLink("Back to List", "Index")
</p>
