@model TrocaManuais.Web.Models.stock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>stock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Qtt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Qtt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataStamp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataStamp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.manuais.Editora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.manuais.Editora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idStock }) |
    @Html.ActionLink("Back to List", "Index")
</p>
