@model IEnumerable<TrocaManuais.Web.Models.stock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Qtt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.manuais.Editora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.users.email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Qtt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.manuais.Editora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.users.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idStock }) |
            @Html.ActionLink("Details", "Details", new { id=item.idStock }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idStock })
        </td>
    </tr>
}

</table>
